parameters:
    level: 8
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
        -
            identifier: trait.unused
            path: src/Testing/*
